{% extends 'base.html.twig' %}

{% block body %}

    <div class="home">

        <h1>PROJET DEV WEB JEUX VIDEO</h1>

        {% if app.user %}
            <h2>Bienvenue sur notre site {{ app.user.email }}</h2>
            <a href="{{ path('games') }}" class="btn btn-primary">Catalogue</a>        
        {% else %}
            <h2>Connexion requise pour découvrir le catalogue</h2>
            <a href="{{ path('security_registration') }}" class="btn btn-success">S'inscrire</a>
        {% endif %}
          
    </div>

{% endblock %}