{% extends 'base.html.twig' %}

{% block title %}Editer un jeu{% endblock %}

{% block body %}

    <div class="containe mt-4">

        <h1>Editer le bien</h1>

        {# Récupère le formulaire en passant le bouton Sauvegarder #}
        {{ include('admin/_form_jeux.html.twig', {form: form, button: 'Sauvegarder'}) }}

    </div>

{% endblock %}